<div class="container intro">
  <h1>Welcome to Rock Paper Scissors</h1>
  <p>This application makes use of ActionCable to provide a two-player environment for playing this classic game.</p>

  <% if current_user %>
    <p>Start a new game or join an existing game below</p>
  <% else %> 
    <p>Please login or register below to get started.</p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <% if current_user %>
      <%= link_to "New Game", :games, method: "post", class: "btn btn-primary btn-block" %>
    <% else %>
      <%= link_to "Login", :new_user_session, class: "btn btn-primary btn-block" %>
      <%= link_to "Register", :new_user_registration, class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container intro">
  <h1>Join a game!</h1>
  <p>Any user-created games will be shown below. Join one for a challenge!</p>
</div>

<div class="container">
  <ul class="list-group">
    <% @games.each do |game| %>
      <li class="list-group-item"><%= link_to(game.id.to_s, edit_game_path(game.id), class: "btn btn-success btn-block") %></li>
    <% end %>
  </ul>
</div>