<div class="container intro">
	<h1>Welcome to Rock Paper Scissors</h1>
	<p>This application makes use of ActionCable to provide a two-player environment for playing this classic game. Please login or register below to get started.</p>
</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<%= link_to "Login", :new_user_session, class: "btn btn-primary btn-block" %>
		<%= link_to "Register", :new_user_registration, class: "btn btn-primary btn-block" %>
	</div>
	<div class="col-md-4"></div>
	
</div>