<div class="container intro">
	<h1>Start a game!</h1>
	<p>Click begin to start a new game. Enjoy</p>
</div>

<div class="container">
	<%= form_for @game do |form| %>
		<%= form.submit 'Begin' %>
	<% end %>
</div>

