<div class="container intro">
	<h1>Join a game!</h1>
	<p>Any user-created games will be shown below. Join one for a challenge!</p>
</div>

<div class="container">
	<% @games.each do |game| %>
		<li><%= link_to(game.id.to_s, edit_game_path(game.id)) %></li>
	<% end %>
</div>